@import url(pages/index.css);
.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  padding: 57px 102px 60px 80px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__column_content_social {
  margin-left: 100px;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.footer__list-item {
  gap: 20px;
  margin-bottom: 16px;
}
.footer__list-item:last-of-type {
  margin-bottom: 0;
}
.footer__column-heading {
  font-size: 16px;
  margin: 0 0 20px;
  line-height: 20px;
}
.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  align-items: center;
}

.footer__column-link:hover {
  color: #c1c1c1;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.footer__copyright {
  margin: 180px 0 0;
  font-size: 16px;
  line-height: 20px;
}
